
body{
    margin: 0;
}


/* modo claro */
.header-claro{
    background-color: #b26fb4;
    color: #ffffff;
    width: 80vw;
}

.main-claro{
    background-color: #f7daf8;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.aside-claro{
    background-color: #e7b4e9;
    color: #610a64;
    width: 20vw; 
    margin-left: auto;
    padding: 0% 2%;
    font-size: 14px;
}

.input-claro{
    background-color: #f7daf8;
    color: #610a64;
    border: 0.5px ridge #610a64;
}

.boton-claro{
    background-color: #b26fb4;
    color:#610a64;
}

.contorno-oscuro{
    text-shadow: -1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000, 1px -1px 2px #000;
    -webkit-text-stroke: 2px black;
}

.contorno-claro{
    text-shadow: -1px -1px 2px #ffffff, 1px 1px 2px #ffffff, -1px 1px 2px #ffffff, 1px -1px 2px #ffffff;
    -webkit-text-stroke: 2px white;
}

/* _______________ */

.transparente-top{
    position: absolute;
    top: 10px;
    background-color: transparent;
    padding: 0px;
}

.transparente-bottom{
    position: absolute;
    bottom: 10px;
    background-color: transparent;
    padding: 0px;
}

.disenio-header{
    background-color: #191e2b;
    color: #ffffff;
    width: 80vw;
}

.ubicacion-row{
    display: flex;
}

.ubicacion-column{
    display: flex;
    flex-direction: column;
}

.titulo-proyecto{
    width: 80vw;
    padding: 2% 0%;
    justify-content: center;
    margin: 0;
}

.panel-botones{
    justify-content: center;
    width: 80vw;
} 

.boton-nav{
    width: 120px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: #ffffff;
    border-radius: 5px;
    justify-content: center;
}

.boton-nav:hover{
    background-color: #96079b;
    color: #ffffff;
}

.boton-nav:active{
    background-color: #96079b;
    color: #ffffff;
    font-size: 10px;
    width: 100px;
    transition: 0.5s;
}

#boton-img:focus, #boton-text:focus{
    background-color: #610a64;
    color: #ffffff;
}

.iconos{
    margin-top: 5%;
    padding: 5%;
    align-content: center;
    font-size: 18px;
    margin-right: 5px;
}

.disenio-aside{
    background-color: #252935;
    color: #ffffff;
    width: 20vw; 
    margin-left: auto;
    padding: 0% 2%;
}

.disenio-aside label {
    font-size: 14px;
}

.label-filtros{
    margin-top: 10px;
}

.disenio-aside p {
    font-size: 14px;
}

h3{
    font-size: 18px;
    width: 95%;
    text-align: center;
    padding: 2%;
}


.hidden{
    display: none;
}

.disenio-main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #30343f;
}
.contenedor-memes{
    width: 500px;
    height: 520px;
    margin-top: 0;
    align-items: center;
    line-height: 1.5;
    position: relative;
}


.contenedor-img{
    width: 100%;
    background-color: black;
    flex-grow: 1;
}

.campo-texto{
    width: 100%;
    height: 10%;
    padding: 5% 0%;
    text-align: center;
    background-color: #ffffff;
    position: static;
}

.texto{
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: 0;
}


.boton-descarga{
    width: 200px;
    height: 50px;
    margin: 5%;
    justify-content: center;
    background-color: #610a64;
    color: #ffffff;
    font-size: 16px;
    padding: 1%;
    border-radius: 5%;
    display: flex;
    text-align: center;
}

.boton-descarga i{
    margin:auto;
    display: flex;
    text-align: center;
}

.contenedor-filtros{
    width: 13vw;
}

.boton-reset{
    margin-top: 10%;
    padding: 3%;
    border-radius: 5px;
}

.boton-reset:hover{
    background-color: #96079b;
    color: #ffffff;
}

.boton-reset:active{
    background-color: #610a64;
    color: #ffffff;
    transition: 0.5s;
}

.diseño-form{
    background-color: #393e49;
    color: #ffffff;
}

textarea, select{
    width: 95%;
    height: 35px;
}
#etiquetas-color{
    width: 50%;
}

input[type=text]{
    width: 100%;
    height: 40px;
    border-radius: 5%;
}

.input-fuente{
    background-color: #393e49;
    color: #ffffff;
}

.tamaño-fuente{
    width:40%;
    margin-top: 5%;
    margin-left: 2px;
    height: 25px;
    border: 0.5px ridge #676e7e;
}

.boton-alineado{
    width: 30px;
    margin-top: 5%;
    margin-left: 5px;
    height: 30px;
    border: 0.5px ridge #676e7e;
}

.boton-alineado:hover{
    background-color: #96079b;
    color: #ffffff;
}

.boton-alineado:active{
    background-color: #610a64;
    color: #ffffff;
    width: 25px;
    margin-left: 7px;
}
.color-alineado{
    background-color: #393e49;
    color: #ffffff
}

.espaciado-secciones{
    margin-bottom: 10%;
}

#color-fondo{
    padding: 0;
    align-content: center;
}

.cuadro-color{
    width: 98%;
    background-color: #393e49;
    border-radius: 5%;
    border: 0.5px ridge #676e7e;
    text-align: center;
    
}

.valor-color{
    display: flex;
    align-items: center;
}
.input-color{
    height: 30px;
    width: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    margin: 1.5%;
}

.input-color::-webkit-color-swatch-wrapper, .input-color::-webkit-color-swatch{
    height: 25px;
    width: 30px;
    margin-top: 0;
    border-radius: 100%;
    border: none;
}

.subtitulos{
    margin: 0;
}

.boton-contorno{
    margin: 2%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px ridge #676e7e;
}

.boton-contorno.active{
    background-color: #610a64;
    color: #ffffff;
}

.input-espaciado{
    height: 25px;
    border-radius: 5px;
    border: 0.5px ridge #676e7e;
}

.espaciado-row{
    margin-right: 15px;
}

select:hover, .boton-contorno:hover{
    background-color: #96079b;
    color: #ffffff;
}

select:focus{
    background-color: #610a64;
    color: #ffffff;
}

input[type='number']:hover, input[type='text']:hover, textarea:hover, .cuadro-color:hover, .input-claro:hover{
    background-color: #96079b;
    color: #ffffff;
}

input[type='number']:focus, input[type='text']:focus, textarea:focus, .cuadro-color:focus, .input-claro:focus{
    background-color: #610a64;
    color: #ffffff;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #393E49;
    border-radius: 7px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 0px #610A64;
    height: 15px;
    width: 15px;
    border-radius: 16px;
    background: #610A64;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #393E49;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #393E49;
    border-radius: 7px;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 0px #610A64;
    height: 19px;
    width: 19px;
    border-radius: 16px;
    background: #610A64;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #393E49;
    border-radius: 14px;
}
input[type=range]::-ms-fill-upper {
    background: #393E49;
    border-radius: 14px;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 0px #610A64;
    height: 19px;
    width: 19px;
    border-radius: 16px;
    background: #610A64;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #393E49;
}
input[type=range]:focus::-ms-fill-upper {
    background: #393E49;
}


/* Medias queries */
@media (max-width:414px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    .panel-botones{
        width: 100vw;
    }
    .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
    .disenio-header, .header-claro{
        padding: 0px;
        width: 100vw;
    }
    .contenedor-memes{
        width: 80vw;
        height: 50vh;
        margin: auto;
        margin-top: 10%;
        line-height: 2.5;
    }
    .contenedor-img{
        flex-grow: 1;
    }
    .texto{
        font-size: 14px;
    }
    .campo-texto{
        padding: 1% 0%;
    }
    .boton-nav{
        font-size: 14px;
    }
    .disenio-main{
        height: 100vh;
    }
}

@media(min-width:416px) and (max-width:540px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    body{
        height: 100vh;
    }
    .disenio-header, .header-claro, .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
    .panel-botones{
        width: 100vw;
    }
    .contenedor-memes{
        height: 50vh;
        width: 80vw;
        margin: auto;
        margin-top: 20%;
    }
}

@media (min-width:541px) and (max-width:912px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    body{
        height: 100vh;
    }
    .disenio-header, .header-claro, .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
    .panel-botones{
        width: 100vw;
    }
    .contenedor-memes{
        margin: auto;
        margin-top: 20%;
    }
}

