
body{
    margin: 0;
}

.sin-texto{
    width: 100%;
    height: 100%;
    background-color: black;
}

/* modo claro */
.header-claro{
    background-color: #b26fb4;
    color: #ffffff;
    width: 80vw;
}

.main-claro{
    background-color: #f7daf8;
    display: flex;
    align-items: center;
}

.aside-claro{
    background-color: #e7b4e9;
    color: #610a64;
    width: 20vw; 
    margin-left: auto;
    padding: 2%;
}

.input-claro{
    background-color: #f7daf8;
    color: #610a64;
    border: 0.5px ridge #610a64;
}

.boton-claro{
    background-color: #b26fb4;
    color:#610a64;
}

/* _______________ */

.transparente-top{
    position: absolute;
    top: 10rem;
    background-color: transparent;
    padding: 0px;
}

.transparente-bottom{
    position: absolute;
    bottom: 3rem;
    background-color: transparent;
    padding: 0px;
}

.disenio-header{
    background-color: #191e2b;
    color: #ffffff;
    width: 80vw;
}

.ubicacion-row{
    display: flex;
}

.ubicacion-column{
    display: flex;
    flex-direction: column;
}

.titulo-proyecto{
    width: 80vw;
    padding: 2% 0%;
    justify-content: center;
    margin: 0;
}

.panel-botones{
    justify-content: center;
    width: 80vw;
} 

.boton-nav{
    width: 200px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #ffffff;
}


.iconos{
    margin-top: 5%;
    padding: 5%;
    align-content: center;
    font-size: 18px;
}

.disenio-aside{
    background-color: #252935;
    color: #ffffff;
    width: 20vw; 
    margin-left: auto;
    padding: 2%;
}

h3{
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 2%;
}


.hidden{
    display: none;
}

.disenio-main{
    display: flex;
    align-items: center;
    background-color: #30343f;
}
.contenedor-memes{
    width: 600px;
    height: 620px;
    margin-top: 0;
    align-items: center;
}


.contenedor-img{
    width: 100%;
    /* height: 80%; */
    background-color: black;
    flex-grow: 1;
}

.campo-texto{
    width: 100%;
    height: 10%;
    padding: 5% 0%;
    text-align: center;
    background-color: #ffffff;
}

.texto{
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: 0;
}


.boton-descarga{
    width: 200px;
    height: 50px;
    margin: 5%;
    justify-content: center;
    background-color: #610a64;
    color: #ffffff;
    font-size: 16px;
    padding: 1%;
    border-radius: 5%;
}

.boton-descarga i{
    margin-bottom: 10%;
    margin:auto;
}

.contenedor-filtros{
    width: 13vw;
}

/* .contenedor-filtros label{
    display: flex;
    flex-direction: column;
} */

.boton-reset{
    margin-top: 10%;
    padding: 3%;
    border-radius: 5px;
}

.diseño-form{
    background-color: #393e49;
    color: #ffffff;
}

textarea, select{
    width: 98%;
    height: 35px;
}

input[type=text]{
    width: 100%;
    height: 40px;
    border-radius: 5%;
    /* margin-left: 2%; */
}

.input-fuente{
    background-color: #393e49;
    color: #ffffff;
}

.tamaño-fuente{
    width: 100px;
    margin-top: 5%;
    margin-left: auto;
    height: 25px;
    border: 0.5px ridge #676e7e;
}
.boton-alineado{
    width: 30px;
    margin-top: 5%;
    margin-left: auto;
    height: 30px;
    border: 0.5px ridge #676e7e;
}

.color-alineado{
    background-color: #393e49;
    color: #ffffff
}

.espaciado-secciones{
    margin-bottom: 10%;
}

#color-fondo{
    padding: 0;
    align-content: center;
}
.cuadro-color{
    width: 100px;
    background-color: #393e49;
    border-radius: 5%;
    border: 0.5px ridge #676e7e;
    
}

.input-color{
    height: 30px;
    width: 40px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    margin: 1.5%;
}

.input-color::-webkit-color-swatch-wrapper, .input-color::-webkit-color-swatch{
    height: 25px;
    width: 30px;
    margin-top: 0;
    border-radius: 100%;
    border: none;
}

.subtitulos{
    margin: 0;
}

.boton-contorno{
    margin: 2%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px ridge #676e7e;
}

.input-espaciado{
    height: 25px;
    border-radius: 5px;
    border: 0.5px ridge #676e7e;
}

.espaciado-row{
    margin-right: 15px;
}

@media (max-width:414px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    .seccion-botones{
        width: 100vw;
    }
    .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
    .lista-nav{
        padding: 0px;
        width: 100vw;
    }
    .contenedor-memes{
        width: 100vw;
        margin: auto;
        margin-top: 10%;
    }
    .contenedor-img{
        width: 100%;
    }
    .boton-nav{
        font-size: 14px;
    }
}

@media(min-width:416px) and (max-width:540px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    .contenedor-memes{
        width: 100vw;
        margin: auto;
        margin-top: 10%;
    }
    .contenedor-img{
        width: 100%;
    }
    .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
}

@media (min-width:541px) and (max-width:912px){
    #aside-imagen{
        display: none;
    }
    #aside-texto{
        display: none;
    }
    body{
        height: 100vh;
    }
    .seccion-botones .titulo-proyecto{
        width: 100vw;
        text-align: center;
    }
    .lista-nav{
        width: 100vw;
    }
    .contenedor-memes{
        margin: auto;
        margin-top: 20%;
    }
}

