
body{
    margin: 0;
    overflow-x: hidden;
    background-color: #30343f;
}

li{
    list-style: none;
}

.contenedor-uno{
    background-color: #191e2b;
}

.ubicacion-row{
    display: flex;
}

.ubicacion-column{
    display: flex;
    flex-direction: column;
}

.titulo-proyecto{
    width: 80vw;
    padding: 2% 0%;
    justify-content: center;
    margin: 0;
    color: #ffffff;
}

.lista-nav{
    justify-content: center;
    width: 80vw;
    /* padding: 0;
    margin: 0; */
}

.lista-nav li{
    width: 150px;
    padding: 0% 2%;
}

.boton-nav{
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    justify-content: center;
}


.boton-nav i{
    margin-top: 5%;
    padding: 5%;
    align-content: center;
    font-size: 18px;
}

.edicion-img{
    background-color: #252935;
    color: #ffffff;
    width: 20vw; 
    margin-left: auto;
}

.edicion-img h3{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 2%;
}

.edicion-texto{
    background-color: #252935;
    color: #ffffff;
    width: 20vw; 
    margin-left: auto;
}

.edicion-texto h3{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 2%;
}

.edicion-img h3{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 2%;
}

.hidden{
    display: none;
}

.contenedor-memes{
    width: 600px;
    background-color: #ffffff;
    margin-top: 0;
    margin-left: 25%;
    align-items: center;
}

.contenedor-memes h2{
    padding: 3%;
    font-size: 30px;
}

.contenedor-img{
    width: 600px;
    height: 400px;
    background-color: black;
}
.imagen-edit{
    width: 100%;
    height: 100%;
}


.contenedor-filtros label{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.diseño-form{
    background-color: #393e49;
    color: #ffffff;
}

input[type=text]{
    width: 230px;
    height: 25px;
    border-radius: 10px;
    margin: 5%;
}



